<div>
    <mat-tab-group>
        <mat-tab label="Articles">
            <ng-container *ngTemplateOutlet="articlesTmpl; context: {$implicit: negativeFeedbackList}"></ng-container>
        </mat-tab>
        <mat-tab label="New Article">
            <ng-container *ngTemplateOutlet="newArticleTmpl; context: {$implicit: positiveFeedbackList}"></ng-container>
        </mat-tab>
    </mat-tab-group>
</div>

<ng-template #articlesTmpl>
    <div class="relative-posts-wrapper">
        <mat-expansion-panel *ngFor="let _item of items">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{_item.title}}
                </mat-panel-title>
            </mat-expansion-panel-header>
    
            {{_item.content}}
    
        </mat-expansion-panel>
    </div>
</ng-template>

<ng-template #newArticleTmpl>
    <div class="example-container">
    <form class="example-form" (submit)="submitNewArticle($event)">
        <mat-form-field>
            <input matInput #title placeholder="Title" (change)="newPost.title = title.value">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput #content placeholder="Content" (change)="newPost.content = content.value"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Submit</button>
    </form>
    </div>
</ng-template>
    
    