.feedback-card {
  max-width: 500px;
  margin: 4px
}
.d-flex {
  display: flex;
}
.align-right {
  margin-left: auto;
}
.mat-large {
  font-size: 16px;
}
.text-muted {
  opacity: 0.8;
}
.wrapper {
  width: 530px;
  margin: 0 auto;
}
.main {
  background-color: #eee;
}
