
.feedback-card {
  margin: 4px
}
.d-flex {
  display: flex;
}
.align-right {
  margin-left: auto;
}
.mat-large {
  font-size: 16px;
}
.text-muted {
  opacity: 0.8;
}
.wrapper {
  width: 700px;
  padding: 15px;
  margin: 0 auto;
}

.not-found {
    padding: 10px;
    text-align: center;
}
