<div class="main" cdk-portal>
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Hackathon Demo</span>
        </mat-toolbar-row>
    </mat-toolbar>
  <div class="wrapper">
    <mat-tab-group>
      <mat-tab [label]="'Negative (' + negativeFeedbackList.length + ')'">
        <ng-container *ngTemplateOutlet="reviewsListTmpl; context: {$implicit: negativeFeedbackList}"></ng-container>
      </mat-tab>
      <mat-tab [label]="'Positive(' + positiveFeedbackList.length + ')'">
        <ng-container *ngTemplateOutlet="reviewsListTmpl; context: {$implicit: positiveFeedbackList}"></ng-container>
      </mat-tab>
      <mat-tab [label]="'Neutral(' + neutralFeedbackList.length + ')'">
        <ng-container *ngTemplateOutlet="reviewsListTmpl; context: {$implicit: neutralFeedbackList}"></ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<ng-template #reviewsListTmpl let-_list>
  <div  *ngFor="let _listItem of _list">
    <ng-container *ngTemplateOutlet="messageTmpl; context: {$implicit: _listItem}"></ng-container>
  </div>
  <div *ngIf="!_list.length" class="not-found">
    No items found
  </div>
</ng-template>

<ng-template #messageTmpl let-_listItem>
  <mat-card
    class="feedback-card"
    [ngClass]="{'text-muted': !_listItem.isNew}"
    [tabindex]="_listItem.isNew ? -1 : 0"
  >
    <mat-card-actions>
        <div class="d-flex mat-small text-muted">
            <span>{{_listItem.author}}</span>
            <span class="align-right">{{_listItem.timestamp | date}}</span>
        </div>
    </mat-card-actions>
    <mat-card-content class="mat-large">
        {{_listItem.message | json}}
        <button mat-button color="primary" (click)="showOverlay(_listItem)">Articles</button>
    </mat-card-content>
    <facebook-widget [postInfo]="_listItem"></facebook-widget>
  </mat-card>
</ng-template>

